:root {
  --primary-color: #A1DD70;
  --secondary-color: #fff9bc;
  --third-color: #fff9bc;
  --four-color: #fff9bc;
  --five-color: #f3f4f6;
}

nav {
  height: 10%;
  width: 100%;
  background-color: var(--primary-color);
}

nav a {
  color: #000 !important;
  margin-right: 1rem;
}

.home {
  width: 100%;
  height: 100vh;
}

.halLog {
  background-color: var(--five-color);
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.halLog h1{
  color: var(--primary-color);
}

.login {
  width: 35%;
  height: fit-content;
  background-color: #fff;
  flex-direction: column;
  padding: 20px 20px 40px;
  border-radius: 10px;
}

.login input {
  width: 100%;
  height: 40px;
}

.login button {
  background-color: var(--primary-color);
  color: #fff;
  width: 100%;
  border: none;
  height: 50px;
}

.login p {
  margin: 10px 0 5px;
}

.login section {
  margin: 0px 0 20px;
}

.formulir,
.dataSiswa {
  width: 95%;
  background-color: transparent;
  max-height: 95%;
  height: 92%;
  overflow-y: auto;
  padding: 20px 40px;
}

.formulir span{
  width: 49%;
}

.formulir section{
  padding: 20px;
  border-radius: 5px;
  height: fit-content;
  background-color: #fff;
  margin-bottom: 20px;
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 10px rgba(37, 227, 201, 0.5); /* Adjust the spread and intensity */
}

.formulir p,
.dataSiswa p {
  margin: 0 0 5px;
}

.formulir input,
.formulir select,
.dataSiswa input,
.dataSiswa select {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  border: 1px solid rgb(194, 193, 193);
  outline: none;
  border-radius: 5px;
}

.formulir h3 {
  margin: 30px 0 10px;
}

.formulir button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  color: #fff;
  width: 200px;
  height: 50px;
}

.dataSiswa span {
  width: 25%;
  padding: 0 10px;
}

.dataSiswa button{
  width: 100px;
  height: 40px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  color: #fff;
}

.dataSiswa .detailMhs p, .detailMhs b{
  font-size: 18px;
  text-transform: uppercase;
}

@media print {
  .template {
    margin: 0;
    width: 8.5in;
    height: 12in;
    margin: auto;
    /* padding: 1in; */
    margin-top: 0;
    padding-top: 0;
  }

  .print-button {
    display: none;
  }
}

.template .footer {
  width: 100%;
  justify-content: space-around;
  height: 100px;
}

.template .pembuka,
.template .penutup {
  text-align: justify;
}

.template p {
  margin: 4px 0;
  font-size: 14px;
}

.template .footer p {
  margin: 0;
  text-align: center;
}

.template .footer section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #6AD4DD;
  margin-right: 20px;
  padding: 0 10px;
}

.template .footer .names p {
  text-align: left;
  padding-left: 20px;
}

.template .title {
  width: fit-content;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px auto;
}

.template .print-button {
  border: none;
  margin: 0 10px;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 3%;
  background-color: rgb(101, 208, 101);
}

.template .kopHead p,
.template .suratPindah p {
  margin: 0;
  font-size: 14px;
}

.template .suratPindah h6 {
  text-align: left;
  margin: 10px 0;
}

.template .suratKepindahan span {
  display: flex;
}

.template .tablesForm table {
  border: 1px solid black;
  height: 30px;
  width: 100%;
}

.template .tablesForm table,
th,
td {
  border: 1px solid black;
  font-size: 12px;
  color: #000;
}

.template table thead th {
  color: #000;
}

.template table th {
  text-align: center;
}

.template .spanUpper p,
.template .suratPindah .spanUpper {
  text-transform: uppercase;
}

.template .spanUpper td p {
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}

.template .namaUpper {
  text-transform: uppercase;
}

.template h1,
h4,
h6 {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.template h5{
  margin-top: 20px;
}

.template .header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.template .hr1 {
  border: 2px solid black;
  height: 4px;
  width: 100%;
  background: #000;
  margin: 0;
}

.template .hr2 {
  border: 0.3px solid #333;
  height: 0.3px;
  width: 100%;
  background: #333;
  margin: 0;
}

.edit{
  height: 100px;
  /* border-radius: 50%; */
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.edit button{
  background-color: var(--primary-color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
}